---
title: Data Analysis Techniques for Neuroscience using MATLAB 
subtitle: Autumn 2011 
description: Class resources by course year 
---

{% extends "main.j2" %}

{% block main %}

Originally offered in Fall 2011 by Sergey Stavisky and [Dan O'Shea](http://djoshea.com).

##Course Description:

Data analysis and visualization techniques commonly encountered in neuroscience research. Fundamentals of the MATLAB computing environment, programming and debugging, data import/export, data structures, plotting, simple image processing, introduction to statistical tools. Assumes no programming background. Examples and assignments draw from a range of topics in neuroscience, for example, event detection in patch-clamp recordings, spike-triggered averages, spike rasters and PSTHS, cell counting in flourescence images, regressions, and PCA. Assignments are practical in nature, demonstrating how to implement specific analyses that a neuroscience student is likely to encounter. The skills taught are broadly applicable and a neuroscience background is not necessary.

## Course materials

### [Lecture 1 - Introduction to MATLAB](lecture01.html)

### [Lecture 2 - Introduction to MATLAB](lecture01.html)

{% endblock main %}

