---
title: Data Analysis in MATLAB Course 
subtitle: Course Listing 4 
description: Class resources by course year 
---

{% extends "main.j2" %}

{% block main %}

## Overview

This site aims to make accessible the course resources used to teach the Analysis 
Techniques in MATLAB course offered at Stanford University as [NENS 230](http://explorecourses.stanford.edu/search?q=nens+230). 
The course aims to the fundamentals of the MATLAB computational environment and 
programming language to incoming bioscience graduate students. Topical lectures
are accompanied by programming assignments designed to develop mastery of the topics
introduced in lecture. These assignments are created to mimic typical analysis 
problems encountered in the course of graduate-level biosciences research.

## Analysis Techniques for the Biosciences using MATLAB

Originally offered in Autumn 2012 by Niru Maheswaranathan and Hannah Payne. 

*Course Description:*

Data analysis and visualization techniques commonly encountered in biosciences research. Fundamentals of the MATLAB computing environment, programming and debugging, data import/export, data structures, plotting, image analysis, introduction to statistical tools. Examples and assignments draw from a range of topics applicable to bioscience research: frequency analysis, genetic data mining, ion channel kinetics, neural spike rasters and spike-triggered averages, cell counting in fluorescence images, regression, PCA, and stochastic simulation. Assignments are practical in nature and demonstrate how to implement specific analyses that a biosciences student is likely to encounter.

## Data Analysis Techniques for Neuroscience using MATLAB 

Originally offered in Fall 2011 by Sergey Stavisky and [Dan O'Shea](http://djoshea.com).

*Course Description:*

Data analysis and visualization techniques commonly encountered in neuroscience research. Fundamentals of the MATLAB computing environment, programming and debugging, data import/export, data structures, plotting, simple image processing, introduction to statistical tools. Assumes no programming background. Examples and assignments draw from a range of topics in neuroscience, for example, event detection in patch-clamp recordings, spike-triggered averages, spike rasters and PSTHS, cell counting in flourescence images, regressions, and PCA. Assignments are practical in nature, demonstrating how to implement specific analyses that a neuroscience student is likely to encounter. The skills taught are broadly applicable and a neuroscience background is not necessary.

[hyde-bootstrap](http://github.com/auzigog/hyde-bootstrap/) is a layout for Hyde based on the Bootstrap framework.
This particular page  is based on Bootstrap's [container-app.html](http://twitter.github.com/bootstrap/examples/container-app.html) example.
{% endblock main %}

